@page "/contratos"

@rendermode InteractiveAuto
@attribute [StreamRendering]

<PageTitle>Contratos</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="page">

            <div class="sidebar">
                <NavMenu />
            </div>

            <main>
                <h1>Contratos</h1>
                <TabelaContratos />
            </main>
        </div>
    </Authorized>
    <Authorizing>
        <p>Checking...</p>
    </Authorizing>
    <NotAuthorized>
        <p>Você não é um Administrador.</p>
    </NotAuthorized>
</AuthorizeView>
@code {
    

}
